aside.aside
  .aside__image
    img(src="img/calltracking/calltracking.svg", alt="")
  ul.scrollspy
    li
      a.is-active(href="#") Что это?
    li
      a(href="#") Цены
    li
      a(href="#") Преимущества
    li
      a(href="#") Номера
    li
      a(href="#") Интерфейс
    li
      a(href="#") Интеграции
    li
      a(href="#") Клиенты
    li
      a(href="#") География
