footer.footer
  .container
    .row
      .col-sm-2
        a(href="index.html").footer__logo
          img(src="img/logo.svg", alt="")
      .col-sm-3
        .footer__contact
          a(href="tel:8 495 308-01-00") 8 495 308-01-00
          a(href="tel:8 800 222-13-81") 8 800 222-13-81
          p Россия, 123557, г. Москва, <br>Пресненский вал 27с9
      .col-sm-4.col-sm-offset-3
        .footer__social
          p Присоединяйтесь к нам в социальных сетях
          a(href="#")
            i.icon.icon-facebook
          a(href="#")
            i.icon.icon-vk
          a(href="#")
            i.icon.icon-ok
          a(href="#")
            i.icon.icon-youtube
      .col-xs-12
        .footer__menu
          .footer__menu__list
            h3 О сервисе
            ul
              li 
                a(href="#") Возможности
              li 
                a(href="#") Применение
              li 
                a(href="#") Цены
              li 
                a(href="#") Партнерам
          .footer__menu__list
            h3 Мероприятия
            ul
              li 
                a(href="#") Вебинары
              li 
                a(href="#") Конференции
              li 
                a(href="#") События
              li 
                a(href="#") Callday
          .footer__menu__list
            h3 База знаний
            ul
              li 
                a(href="#") Интеграции
              li 
                a(href="#") Настройка системы
              li 
                a(href="#") Отчеты
              li 
                a(href="#") Справочный центр
          .footer__menu__list
            h3 О компании
            ul
              li 
                a(href="#") Пресса о нас
              li 
                a(href="#") Вакансии
              li 
                a(href="#") Контакты
      .col-xs-12
        .footer__links
          .footer__links__block
            a(href="#") Лицензионный договор
            a(href="#") Договор связи
          .footer__links__block
            a(href="#") Политика в отношении обработки персональных данных
            a(href="#") Согласие на обработку персональных данных