//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-sm-3
        .flex.middle-xs
          a(href="index.html").logo
            img(src="img/logo.svg", alt="Calltouch")
          .search
            i.icon.icon-search
      .col-sm-4.end-xs.col-sm-offset-5
        .header__contact
          p
            i.icon.icon-phone
            | Есть вопросы? Звоните
          a(href="+7 495 308-01-00") +7 495 308-01-00
          a(href="8 800 222-13-81") 8 800 222-13-81
    .row.middle-xs
      .col-sm-8
        nav
          ul
            li.submenu
              a(href="#") Продукты
              .submenu__block
                .submenu__block__tech
                  h3 Технологии
                  .flex
                    ul
                      li 
                        a(href="#")
                          img(src="img/menu/platform.svg", alt="")
                          | Платформа
                      li 
                        a(href="#")
                          img(src="img/menu/calltracking.svg", alt="")
                          | Коллтрекинг
                      li 
                        a(href="#")
                          img(src="img/menu/optimizer.svg", alt="")
                          | Оптимизатор
                    ul
                      li 
                        a(href="#")
                          img(src="img/menu/predict.svg", alt="")
                          | Предикт
                      li 
                        a(href="#")
                          img(src="img/menu/antifraud.svg", alt="")
                          | Антифрод
                      li 
                        a(href="#")
                          img(src="img/menu/callback.svg", alt="")
                          | Обратный звонок
                .flex
                  .submenu__block__list
                    h3 Применение
                    ul
                      li 
                        a(href="#") Сквозная аналитика
                      li 
                        a(href="#") Контекстная реклама
                      li 
                        a(href="#") Контроль качества
                      li 
                        a(href="#") Лидогенерация
                  .submenu__block__list
                    h3 Интеграции
                    ul
                      li 
                        a(href="#") Системы аналитики
                      li 
                        a(href="#") Рекламные площадки
                      li 
                        a(href="#") CRM
                      li 
                        a(href="#") Оптимизаторы конекста
                      li 
                        a(href="#") Лидогенераторы
                      li.plus + 30 интеграций 
                        i.icon.icon-albato
            li
              a(href="#") Цены
            li
              a(href="#") Партнерам
            li
              a(href="#") Академия
            li
              a(href="#") О компании
            li
              a(href="#") Блог
      .col-sm-4.end-xs
        .header__user
          a.header__user__login(href="#") 
            i.icon.icon-login
            | Войти
          a.header__user__registration(href="#") 
            i.icon.icon-registration
            | Зарегистрироваться

