section.intro
  h2 Коллтрекинг
    span англ. call tracking
  h3 Технология определения рекламных источников, с которых приходят звонки клиентов.
  p.topaz Более 70% клиентов предпочитают звонить. Calltouch покажет, какая реклама приносит звонки, а какая только тратит бюджет.
  .row
    .col-sm-4
      figure
        img(src="img/calltracking/chart.svg", alt="")
        p Отслеживайте звонки <br>с рекламы и других каналов
    .col-sm-4.intro__block
      figure
        img(src="img/calltracking/settings.svg", alt="")
        p Оптимизируйте рекламу <br>на основе данных о звонках
    .col-sm-4.intro__block
      figure
        img(src="img/calltracking/dispatcher.svg", alt="")
        p Контролируйте и планируйте <br>работу колл-центра
  a(href="#").btn.btn-topaz Регистрация в личный кабинет
  a(href="#").btn.btn-golden Подключить коллтрекинг
