.icon-albato {
  width: 4.39em;
  height: 1em;
  fill: #E17352;
}
.icon-arrow-down {
  width: 1.67em;
  height: 1em;
  fill: #1EB0CD;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #8F9496;
}
.icon-login {
  width: 1em;
  height: 1em;
  fill: #1EB0CD;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: #8F9496;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-registration {
  width: 0.94em;
  height: 1em;
  fill: #F2C400;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #8F9496;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: #8F9496;
}
